
@{
    Layout = null;
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<link href="~/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker-standalone.css" rel="stylesheet" />
<link href="~/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<div class="row">
    <input id="startDate" name="startDate" type="text" class="form-control" />
</div>
<div class="row">
    <input id="endDate" name="endDate" type="text" class="form-control" />
</div>
<script>
    $(function () {
        var sd = new Date(), ed = new Date();
  
        $('#startDate').datetimepicker({ 
            //pickTime: false, 
            format: "YYYY", 
            defaultDate: sd, 
            maxDate: ed,
            minDate : '2000'
        });

        $('#endDate').datetimepicker({
            //pickTime: false, 
            format: "YYYY",
            defaultDate: sd,
            maxDate: ed,
            minDate: '2000'
        });

    })
</script>