@*@model Dashboard_New.Models.login*@
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">   
    <link rel="icon" type="image/png" href="~/plugins/build/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/plugins/vendors/bootstrap/css/bootstrap.min.css" />
    <link type="text/css" href="~/plugins/vendors/bootstrap/fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link type="text/css" href="~/plugins/vendors/bootstrap/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" />
    <link type="text/css" href="~/plugins/vendors/animate.css/animate.css" rel="stylesheet" />
    <link type="text/css" href="~/plugins/vendors/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <link type="text/css" href="~/plugins/vendors/animsition/css/animsition.min.css" rel="stylesheet" />
    <link type="text/css" href="~/plugins/vendors/select2/select2.min.css" rel="stylesheet" />
    <link type="text/css" href="~/plugins/vendors/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link type="text/css" href="~/css/main.css" rel="stylesheet" />
    <link type="text/css" href="~/css/util.css" rel="stylesheet" />   
    <script src="~/plugins/vendors/jquery/dist/jquery.min.js"></script>    
    <script src="~/plugins/alert/sweetalert.min.js"></script>

    <script>
            $(function () {
                if ('@ViewData["Message"]' == 'u')
                {
                    swal("Oops", " Invalid user !", "error");
                }
            });
    </script>
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                @*<div class="login100-form-title" style="background-image: url('../plugins/build/images/bg-01.jpg')">*@
                <div class="login100-form-title" style="background-image: url('../dashboard/plugins/build/images/bg-01.jpg')">
                    <span class="login100-form-title-1">
                        ICSR - Report Information System
                    </span>
                </div>

                @*<form class="login100-form validate-form">*@
@using (Html.BeginForm("Index", "login", FormMethod.Post, new { @class="login100-form validate-form" }))
{
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100">Username</span>
                        <input class="input100" type="text" name="username" placeholder="Enter username">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        <input class="input100" type="password" name="password" placeholder="Enter password">
                        <span class="focus-input100"></span>
                    </div>


                    @*<div class="flex-sb-m w-full p-b-30">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Remember me
                            </label>
                        </div>

                        <div>
                            <a href="#" class="txt1">
                                Forgot Password?
                            </a>
                        </div>
                    </div>*@

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
}
                @*</form>*@

            </div>
        </div>
    </div>  
    <script src="~/plugins/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/plugins/vendors/animsition/js/animsition.min.js"></script>
    <script src="~/plugins/vendors/bootstrap/js/popper.js"></script>
    <script src="~/plugins/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/plugins/vendors/select2/select2.min.js"></script>
    <script src="~/plugins/vendors/daterangepicker/moment.min.js"></script>
    <script src="~/plugins/vendors/daterangepicker/daterangepicker.js"></script>
    <script src="~/plugins/vendors/countdowntime/countdowntime.js"></script>
    <script src="~/js/main.js"></script>
    </body>

</html>
